<!-- start custom head snippets -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css">
<script defer src="/assets/js/jquery.flexslider.js"></script>
<!-- end custom head snippets -->
<style type="text/css">
.flex-caption {
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgb(80,0,0);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}
</style>
<script>
$(window).on('load',function(){
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
</script>