---
layout: splash
sidebar:
  nav: "side"

excerpt: "Department of Physics and Astronomy<br>Texas A&amp;M University<br>"
header:
  overlay_image: /assets/splash.png
  overlay_filter: 0.15
  caption: "Photo credit: [NASA](https://nasa.gov)"
feature_row:
- image_path: /assets/front/eclipses.jpg
  alt: "Solar Eclipse 2017"
  title: "Solar Eclipse 2017"
  excerpt: "The partial solar eclipse viewing event was a success! Hundreds of people joined Professor Darren DePoy, Dr. Luke Schmidt and the members of the Star Party team in Rudder Plaza."
  url: "http://www.theeagle.com/news/local/local-groups-to-host-eclipse-watch-parties/article_c6744bf1-a436-5d33-b4bc-0f17376d65f5.html"
- image_path: /assets/front/REUcovers.jpg
  alt: "REU Summer 2017"
  title: "REU Summer 2017"
  excerpt: "The Department of Physics and Astronomy and the Mitchell Institute for Fundamental Physics and Astronomy at Texas A&amp;M University is pleased to host an REU Site in astronomical research and instrumentation in Summer 2017."
  url: "http://instrumentation.tamu.edu/REU2017"
- image_path: /assets/front/dmmaps.jpg
  alt: "Mapping Dark Matter"
  title: "Mapping Dark Matter"
  excerpt: "The most precise map so far of dark matter in our universe was released by an international team of astrophysicists."
  url: "https://theconversation.com/what-a-new-map-of-the-universe-tells-us-about-dark-matter-82074"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

Our lab is located in the <b>Charles R. '62 & Judith G. Munnerlyn Astronomical Laboratory and Space Engineering Building</b> at the corner of University Dr. and Asbury St. on Texas A&amp;M University's Main Campus.<br><br>
