---
layout: splash
sidebar:
  nav: "side"

excerpt: "Department of Physics and Astronomy<br>Texas A&amp;M University<br>"

header:
  overlay_image: /assets/splash/sun.png
  overlay_filter: 0.15
  caption: "Photo credit: [NASA](https://nasa.gov)"

feature_row:
- image_path: /assets/front/spaceee_640x360.jpg
  alt: "KBTX Interview"
  title: "KBTX Interviews Professor DePoy and Student"
  excerpt: "Professor Darren DePoy and summer research student Samantha Hudson interviewed on KBTX, discussing Texas A&M's role in building the Giant Magellan Telescope."
  url: "https://www.kbtx.com/content/news/Texas-AM-paves-the-way-in-one-of-worlds-largest-space-projects--512966871.html"
- image_path: /assets/front/MSE-Cutaway-640-360.jpg
  alt: "Maunakea Spectroscopic Explorer"
  title: "Maunakea Spectroscopic Explorer Project"
  excerpt: "Professor Marshall has been selected as Project Scientist for the Maunakea Spectroscopic Explorer (MSE) project!"
  url: "https://mse.cfht.hawaii.edu/?page_id=1665"
- image_path: /assets/front/REUcovers.jpg
  alt: "REU Summer 2019"
  title: "REU Summer 2019"
  excerpt: "The Department of Physics and Astronomy and the Mitchell Institute for Fundamental Physics and Astronomy at Texas A&amp;M University is pleased to host an REU Site in astronomical research and instrumentation in Summer 2019."
  url: "/pages/reu/"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

Our lab is located in the <b>Charles R. '62 & Judith G. Munnerlyn Astronomical Laboratory and Space Engineering Building</b> at the corner of University Dr. and Asbury St. on Texas A&amp;M University's Main Campus.<br><br>

<small>This computer system and data herein are available only for authorized purposes by authorized users. Use for any other purpose may result in administrative/disciplinary actions or criminal prosecution against the user. Usage may be subject to security testing and monitoring. Applicable privacy laws establish the expectations of privacy.<br><br></small>