---
layout: archive
---

{{ content }}

{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

<script>
  var words = [];
</script>
{% for i in (1..tags_max) reversed %}
  {% for tag in site.tags %}
    {% if tag[1].size == i %}
      <script>
        words.push({text: "{{tag[0]}}", weight: "{{i}}",link: "#{{ tag[0] | slugify }}"})
      </script>
    {% endif %}
  {% endfor %}
{% endfor %}
<div id="cloud" style="height:300px;clear:both;"></div>
<script>
  $('#cloud').jQCloud(words, {
    classPattern: null,
    colors: ["#500000", "#5F1717", "#6F2E2E", "#8F5C5C", "#9F7373", "#AF8B8B","#BFA2A2"],
    fontSize: {
      from: 0.07,
      to: 0.03
    }
  });
</script>

{% for i in (1..tags_max) reversed %}
  {% for tag in site.tags %}
    {% if tag[1].size == i %}
      <section id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ tag[0] }}</h2>
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% for post in tag.last %}
            {% include archive-single.html type=page.entries_layout %}
          {% endfor %}
        </div>
        <a href="#site-nav" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}